@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@200;600&display=swap");
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 3rem;
}
.home__jobs-container {
  width: 670px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.home button {
  background-color: #5964E0;
  color: #FFFFFF;
}
.home__load-more {
  margin: 1rem 0 0;
  padding: 0.6rem 1.1rem;
}

.jobcard {
  position: relative;
  border-radius: 7px;
  padding: 1rem;
  width: 206px;
  height: 150px;
  margin: 1rem 0.5rem;
  cursor: pointer;
}
.jobcard__logo-container {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: -1rem;
  margin-left: 1rem;
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.jobcard__logo-container img {
  max-width: 25px;
  max-height: 13px;
}
.jobcard__details {
  display: flex;
  flex-direction: row;
  justify-content: undefined;
  align-items: center;
  font-size: 10px;
  color: #6E8098;
  margin-top: 0.7rem;
}
.jobcard__details span {
  background-color: #6E8098;
  width: 3px;
  height: 3px;
  margin: 0 0.5rem;
  border-radius: 50%;
  display: inline-block;
}
.jobcard__position {
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
  margin: 0.3rem 0 -0.5rem;
}
.jobcard__location {
  color: #5964E0;
  font-size: 10px;
  font-weight: 600;
  margin-top: 1.5rem;
}

.searchbar {
  position: relative;
  margin-top: -1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 650px;
  font-size: 10px;
  border-radius: 7px;
  margin-bottom: 3rem;
}
.searchbar__criterion {
  display: flex;
  flex-direction: row;
  justify-content: undefined;
  align-items: center;
  font-weight: 600;
  padding: 0.8rem;
  height: 40px;
}
.searchbar__criterion input {
  width: 90%;
  font-size: 11px;
  margin-left: 0.5rem;
  border: none;
  outline: none;
  background-color: transparent;
}
.searchbar__criterion input::placeholder {
  font-size: 10.5px;
  color: #b6b6b6;
}
.searchbar__criterion:first-child {
  width: 320px;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}
.searchbar__criterion:first-child img {
  width: 13px;
  height: 13px;
}
.searchbar__criterion:nth-child(2) {
  width: 200px;
}
.searchbar__criterion:nth-child(2) img {
  width: 11px;
  height: 15px;
}
.searchbar__criterion:last-child {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  width: 240px;
}
.searchbar__criterion__btn {
  padding: 0.4rem 0.8rem;
}
.searchbar__criterion__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.searchbar__criterion__container span {
  margin-left: 0.5rem;
}
.searchbar__criterion__container__checkbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 12px;
  height: 12px;
  cursor: pointer;
}
.searchbar__criterion__container__checkbox img {
  width: 9px;
  height: 9px;
}

.job {
  position: relative;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 370px;
}
.job__header {
  position: relative;
  top: 0;
  margin: -1.5rem 0 1.5rem;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.job__header__logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 75px;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}
.job__header__text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  padding: 1.3rem;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}
.job__header__text div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-weight: 600;
  font-size: 13px;
}
.job__header__text div span {
  font-size: 9px;
  font-weight: 200;
  color: #6E8098;
  margin-top: 0.4rem;
}
.job__header__text button {
  background-color: #F4F6F8;
  color: #5964E0;
  padding: 0.5rem 0.6rem;
  font-weight: 600;
}
.job__body {
  width: 370px;
  padding: 1.3rem;
  margin-bottom: 3rem;
  border-radius: 7px;
}
.job__body__heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.job__body__heading__postedAt {
  font-size: 9px;
  color: #6E8098;
}
.job__body__heading__postedAt span {
  background-color: #6E8098;
  width: 3px;
  height: 3px;
  margin: 0 0.5rem;
  border-radius: 50%;
  display: inline-block;
}
.job__body__heading__position {
  font-weight: 600;
  font-size: 0.9rem;
  color: #121721;
  margin: 0.2rem 0;
}
.job__body__heading__location {
  color: #5964E0;
  font-size: 9px;
  font-weight: 600;
}
.job__body__heading button {
  background-color: #5964E0;
  color: #FFFFFF;
  padding: 0.5rem 0.6rem;
  font-weight: 600;
}
.job__body__description {
  font-size: 10px;
  line-height: 14px;
  margin: 1.5rem 0;
}
.job__body__requirements__content {
  font-size: 10px;
  line-height: 14px;
}
.job__body__requirements__content ul {
  list-style: none;
  margin-top: 0.6rem;
}
.job__body__requirements__content ul li {
  margin: 0.2rem 0;
}
.job__body__requirements__content ul li::before {
  content: "•";
  color: #6E8098;
  font-weight: bold;
  font-size: 1rem;
  display: inline-block;
  width: 0.8rem;
}
.job__body__role {
  margin-top: 1.5rem;
  font-size: 10px;
  line-height: 14px;
}
.job__body__role ul {
  list-style: none;
  margin-top: 0.6rem;
}
.job__body__role__item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0.3rem 0;
}
.job__body__role__item span {
  margin-right: 0.6rem;
  color: #5964E0;
  font-weight: 600;
}
.job__body h2 {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 0.7rem;
}
.job__footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 800px;
  padding: 1rem 0;
}
.job__footer__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 370px;
}
.job__footer__container div {
  font-weight: 600;
  font-size: 11px;
}
.job__footer__container div div {
  color: #6E8098;
  font-weight: 200;
  font-size: 9px;
  margin-top: 0.2rem;
}
.job__footer__container button {
  background-color: #5964E0;
  color: #FFFFFF;
  padding: 0.5rem 0.6rem;
  font-weight: 600;
}

.switch {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 13px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #FFFFFF;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 12px;
}
.switch__slider:before {
  position: absolute;
  content: "";
  height: 9px;
  width: 9px;
  left: 3px;
  bottom: 2px;
  background-color: #5964E0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}
input:checked + .switch__slider {
  background-color: #FFFFFF;
}
input:focus + .switch__slider {
  background-color: #FFFFFF;
}
input:checked + .switch__slider:before {
  -webkit-transform: translateX(10px);
  -ms-transform: translateX(10px);
  transform: translateX(10px);
}

.app {
  display: flex;
  flex-direction: column;
  align-items: undefined;
  width: 800px;
  height: auto;
  font-family: "Kumbh Sans", sans-serif;
}
.app .header {
  position: relative;
  background: url("../assets//bg-pattern-header.svg") no-repeat;
  background-size: contain;
  height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
}
.app .header div {
  margin-top: -1rem;
}
.app .header__logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.app .header__logo img {
  width: 75px;
  height: 20px;
}
.app .header__theme {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.app .header__theme img {
  width: 15px;
  height: 15px;
}
.app .header__theme img:nth-of-type(1) {
  margin-right: 0.4rem;
}
.app .header__theme img:nth-of-type(2) {
  width: 12px;
  height: 12px;
  margin-left: 0.4rem;
}
.app a {
  text-decoration: none;
  color: #19202D;
}
.app button {
  font-size: 10px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.card-light {
  background-color: #FFFFFF !important;
  color: #121721 !important;
}

.card-dark {
  background-color: #19202D !important;
  color: #FFFFFF !important;
}

.body-light {
  background-color: #F4F6F8 !important;
}

.body-dark {
  background-color: #121721 !important;
}

.border-dark {
  border-left: 1px solid #6E8098 !important;
  border-right: 1px solid #6E8098 !important;
}

.border-light {
  border-left: 1px solid #F4F6F8 !important;
  border-right: 1px solid #F4F6F8 !important;
}

.btn-dark {
  background-color: #2c333c !important;
  color: #FFFFFF !important;
}

.btn-light {
  background-color: #F4F6F8 !important;
}
